<div class="product-wrapper">
  <div class="product-box">
    <h3 class="title" *ngIf="product">{{ product.title }}</h3>
    <p class="desc" *ngIf="product">{{ product.description }}</p>
  </div>
  <div class="options">
    <button class="edit" (click)="onEdit()">Edit</button>
    <button class="remove" (click)="onDelete()">Verwijderen</button>
  </div>
</div>

<app-popup
  *ngIf="deleting"
  title="Product verwijderen"
  buttonText="Doorgaan"
  [buttons]="[true, false, true]"
  (closed)="close()"
  (savedAndWent)="closeConfirmation()">
  <p>U staat op het punt om een product te verwijderen. Wilt u doorgaan?</p>
</app-popup>
