<div class="category-wrapper">
  <div class="category-box">
    <h4 class="categoryname" *ngIf="category">{{ category.categoryname }}</h4>
    <p class="isadmin" *ngIf="category && category.previouscategorynumber">Deze categorie is een subcategorie</p>
  </div>
  <div class="options" *ngIf="category.previouscategorynumber !== null">
    <button class="remove" (click)="onDelete()">Verwijderen</button>
    <button class="edit" (click)="onEdit()">Edit</button>
  </div>
</div>

<app-popup
  *ngIf="deleting"
  title="categorie verwijderen"
  buttonText="Doorgaan"
  [buttons]="[true, false, true]"
  (closed)="close()"
  (savedAndWent)="closeConfirmation()">
  <p>U staat op het punt om een categorie te verwijderen. Wilt u doorgaan?</p>
</app-popup>
