<form (ngSubmit)="saveInput(f)" #f="ngForm">
  <div class="register">
    <h2>Register a new admin</h2>
    <div class="email">
      <label for="email">Email</label>
      <input class="required" type="text" id="email" name="email" ngModel required email>
    </div>
    <p class="errorText" *ngIf="passwordsNotEqual">De ingevoerde wachtwoorden zijn niet gelijk</p>
    <p class="errorText" *ngIf="passwordNotValid">Dit wachtwoord voldoet niet aan de eisen</p>
    <div class="password">
      <label for="password">Wachtwoord</label>
      <input class="required" type="password" id="password" name="password" ngModel required>
    </div>
    <div class="passwordConfirm">
      <label for="passwordConfirm">Wachtwoord herhalen</label>
      <input class="required" type="password" id="passwordConfirm" name="passwordConfirm" ngModel required>
    </div>
    <p>Let op: een wachtwoord moet minimaal 10 tekens zijn. Tevens moet het minimaal 1 cijfer en 1 leesteken
      bevatten.</p>
  </div>
  <div>
    <button class="register" type="submit">Registreer</button>
  </div>
</form>
