.register {
  h2 {
    margin: 20px 0;
  }

  .errorText {
    color: red;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;

    input {
      padding: 5px;
      border: none;
      border-radius: 10px;
      width: 160px;
    }

    .required.ng-touched.ng-invalid {
      border: 1px red solid;
    }
  }
}

button {
  background-color: #005700;
}
