<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="content">
    <div class="left">
      <label for="email">E-mail</label>
      <input type="text" id="email" name="email" ngModel required disabled
             [(ngModel)]="user.email">
      <label for="streetName">Straatnaam</label>
      <input type="text" id="streetName" name="streetName" ngModel required
             [(ngModel)]="user.streetName">
      <label for="houseNumber">Huisnummer</label>
      <input type="number" id="houseNumber" name="houseNumber" ngModel required maxlength="5"
             [(ngModel)]="user.houseNumber === -1 ? null : user.houseNumber">
    </div>
    <div class="right">
      <label for="city">Stad</label>
      <input type="text" id="city" name="city" ngModel required
             [(ngModel)]="user.city">
      <label for="postalCode">Postcode</label>
      <input type="text" id="postalCode" name="postalCode" ngModel required maxlength="6"
             [(ngModel)]="user.postalCode">
      <label for="suffix">Toevoeging</label>
      <input type="text" id="suffix" name="suffix" ngModel
             [(ngModel)]="user.addition">
    </div>
  </div>
  <div class="elem-foot">
    <div class="role">
      <label>Rol</label>
      <p>{{ user.isAdmin ? 'Administrator' : 'Gebruiker' }}</p>
    </div>
    <div class="logout">
      <button type="button" (click)="logOut()">Uitloggen</button>
    </div>
    <div class="button-container">
      <div class="column-aligner">
        <button type="submit">Opslaan</button>
      </div>
    </div>
  </div>
</form>

<app-popup
  *ngIf="userDataSaved"
  title="Gebruikersgegevens aangepast"
  buttonText="Doorgaan"
  [buttons]="[false, false, true]"
  (savedAndWent)="closeConfirmation()">
  <p>De veranderingen op uw gebruikersgegevens zijn toegepast</p>
</app-popup>

<app-popup
  *ngIf="userLoggingOut"
  title="Uitloggen"
  buttonText="Doorgaan"
  [buttons]="[true, false, true]"
  (closed)="closeAndGoBack()"
  (savedAndWent)="closeAndLogout()">
  <p>U wordt nu uitgelogd, wilt u doorgaan?</p>
</app-popup>
