<div class="auth">
  <div class="login">
    <form (ngSubmit)="onLogin(l)" #l="ngForm">
      <div class="pre-text">
        <h2>Log in</h2>
        <p>Heeft u al een account bij ons? Log dan hier in!</p>
      </div>
      <div class="form-container">
        <p *ngIf="invalidCredentials" class="errorText">Het email of wachtwoord is onjuist</p>
        <label for="emailLog">E-mail</label>
        <input type="text" id="emailLog" name="email" ngModel required email>
        <label for="pwdLog">Wachtwoord</label>
        <input type="password" id="pwdLog" name="password" ngModel required>
      </div>
      <div class="elem-foot">
        <button type="submit" [disabled]="!l.valid">Log in</button>
        <a (click)="adminPortal()">Adminportaal</a>
      </div>
    </form>
  </div>
  <div class="register">
    <form (ngSubmit)="onRegister(r)" #r="ngForm">
      <div class="pre-text">
        <h2>Registreer</h2>
        <p>Heeft u nog geen account aangemaakt? Maak er hier dan een aan!</p>
      </div>
      <div class="form-container">
        <label for="emailReg">E-mail</label>
        <input type="text" id="emailReg" name="emailReg" ngModel required email>
        <p *ngIf="nonMatchingPassword" class="errorText">De ingevoerde wachtwoorden zijn niet gelijk</p>
        <label for="pwdReg">Wachtwoord</label>
        <input type="password" id="pwdReg" name="pwdReg" ngModel required>
        <label for="pwdRegConfirm">Wachtwoord herhalen</label>
        <input type="password" id="pwdRegConfirm" name="pwdRegConfirm" ngModel required>
      </div>
      <div class="elem-foot">
        <button type="submit" [disabled]="!r.valid">Registreer</button>
      </div>
    </form>
  </div>
</div>

<app-popup
  *ngIf="error"
  title="Foutmelding in applicatie"
  buttonText="Okay"
  [isProduct]="false"
  (savedAndWent)="closeError()">
  <h2>{{ error.statusText }}</h2>
  <p>{{ errorText }}</p>
</app-popup>
