<form action="">
  <div class="content">
    <div class="left">
      <label for="email">E-mail</label>
      <input type="text" id="email" name="email">
      <label for="street-name">Straatnaam</label>
      <input type="text" id="street-name" name="street-name">
      <label for="house-number">Huisnummer</label>
      <input type="text" id="house-number" name="house-number">
    </div>
    <div class="right">
      <label for="city">Stad</label>
      <input type="text" id="city" name="city">
      <label for="postal-code">Postcode</label>
      <input type="text" id="postal-code" name="postal-code">
      <label for="suffix">Toevoeging</label>
      <input type="text" id="suffix" name="suffix">
    </div>
  </div>
  <div class="elem-foot">
    <div class="role">
      <label>Rol</label>
      <p>Administrator</p>
    </div>
    <div class="button-container">
      <div class="column-aligner">
        <button type="submit">Opslaan</button>
      </div>
    </div>
  </div>
</form>
