<div class="container">
  <h2>Contact</h2>
  <p>
    Wellicht zijn er vragen waarop wij via de website geen antwoord hebben kunnen geven. Geen zorgen, neem gerust
    contact op met ons door ons te mailen, of ons te bellen. Kom ook gerust langs! Hier zijn nog een aantal andere
    redenen waarom u wellicht contact op wilt nemen.
  </p>
  <br>
  <p>Telefoonnummer: 0182-582930</p>
  <br>
  <p>E-mailadres: info@groenecomputershop.nl</p>
  <div class="image-container">
    <img src="../../assets/images/windows-live-for-xp-blue-question-mark-icon-png-clipart-removebg-preview.png" alt="">
  </div>

</div>
