.category-browser {
  width: 100%;
  padding: 20px 0;
  margin: auto;
  max-width: 500px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  row-gap: 50px;
  padding: 50px;


}
