<div class="container">
  <h2>Product Filter</h2>
  <p>Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered
    Hier kunnen producten worden gefiltered</p>
</div>
