.category {
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;

    input {
      padding: 5px;
      border: none;
      border-radius: 10px;
      width: 160px;
    }

    select {
      padding: 5px;
      border: none;
      border-radius: 10px;
      width: 160px;
    }
  }
}

.options {
  display: flex;
  flex-direction: row-reverse;

  .back {
    background-color: #7DCF7D;
  }
  .save-or-create {
    background-color: #005700;
  }
}
