<div class="container">
  <img *ngIf="product && product.imagepath.length > 1" src="{{product.imagepath}}" alt="Afbeelding van het product">
  <img *ngIf="!product || product.imagepath.length < 1" src="../../../../assets/images/rtx3080.jpg" alt="Afbeelding van het product">
  <div class="content">
    <h3 *ngIf="product" (click)="onClicked()">{{ product.title }}</h3>
    <p *ngIf="product">{{ product.description }}</p>
  </div>
  <div class="price-label">
    <h3 *ngIf="product">€{{ product.saleprice.toFixed(2) }}</h3>
    <button (click)="onAddToCart()">Koop!</button>
  </div>
  <div class="backdrop"></div>
</div>

<app-popup
  *ngIf="clickedBuyPopup && product"
  title="{{ product.title }} toevoegen"
  [buttons]="[true, true, true]"
  (closed)="closePopup()"
  (savedAndClosed)="closePopupAndAdd()"
  (savedAndWent)="closePopupAndLeave()">
  <div class="popup-content">
    <img src="../../../../assets/images/rtx3080.jpg" alt="">
    <div class="content">
      <p *ngIf="product">{{ product.description }}</p>
      <br>
      <h3 *ngIf="product">€{{ product.saleprice.toFixed(2) }}</h3>
    </div>
  </div>
</app-popup>
