.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 550px 400px;
  grid-column-gap: 50px;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column-reverse;

    app-admin-user-input {
      padding: 0 20px;
    }
  }
}
