.user-wrapper {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  padding: 10px;

  .options {
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .remove {
      background-color: #ff4f4a;
    }
  }
}
