.toolbar {
  height: 20px;
  background-color: #005700;

  .references {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;

    div {
      display: flex;
      justify-content: center;

      p {
        color: white
      }

      &:hover {
        cursor: pointer;
      }
    }

  }
}
