html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.burger {
  background: linear-gradient(0.25turn, #ECF9EC, #8FC88F, #ECF9EC);
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  background: linear-gradient(0.25turn, #ECF9EC, #8FC88F, #ECF9EC);
}

.left {
  margin: auto;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.middle {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;

  div {
    width: 254px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.6em;
      line-height: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.right {
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 254px;

  button {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
  }
}

.shopping-basket {
  background-image: url("../../assets/images/shopping-basket.svg");
  border: none;
}

.profile {
  background-image: url("../../assets/images/profilepic_placeholder-removebg-preview.png");
  border: solid black 2px;
  border-radius: 50%;
}

.login {
  background-image: url("../../assets/icons/login.png");
}

@media only screen and (max-width: 1350px) {
  .header {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .left {
    display: none;
  }

  .middle {
    flex-direction: column;

    div {
      width: 100%;
      height: 50px;
    }
  }
}
