<div class="header">
  <img class="left" src="../../assets/images/groenecomputershop_logo-removebg-preview.png" alt="Het logo van de Groene Computershop">
  <div class="middle">
    <div class="home" routerLink="/">
      <p>Home</p>
    </div>
    <div class="webshop" routerLink="/webshop">
      <p>Webshop</p>
    </div>
    <div class="contact" routerLink="/contact">
      <p>Contact</p>
    </div>
  </div>
  <div class="right">
    <button class="shopping-basket" routerLink="/shopping-basket"></button>
    <button class="profile" routerLink="/profile"></button>
  </div>
</div>
