
#persoonlijke-service {
  margin: 20px auto 20px 30%;
}

#service-onderhoud {
  margin: 20px 30% 20px auto;
}

#kwaliteit-hardware {
  margin: 20px auto 20px 30%;
}

.container {
  box-sizing: border-box;
  background-color: #00728A;
  border-radius: 30px;
  border: none;
  margin: 20px;
  padding: 30px;
  max-width: 550px;
  width: 100%;

  .content {
    display: flex;
    flex-direction: row;
    height: 80%;

    p {
      color: #FFFFFF;
      font-size: 0.8em;
      padding: 5px;
    }
    .image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        border-radius: 15px;
        max-width:100%;
        max-height:100%;
      }
    }
  }

  h2 {
    color: #D1D1D1;
  }
}

@media only screen and (max-width: 1250px) {
  #persoonlijke-service, #service-onderhoud, #kwaliteit-hardware {
    margin: 20px auto;
  }
}

@media only screen and (max-width: 550px) {
  #persoonlijke-service, #service-onderhoud, #kwaliteit-hardware {
    margin: auto;
    border-radius: 0;

    .content {
      flex-direction: column;

      p {
        margin-bottom: 10px;
      }
    }
  }
}
