<div class="container">
  <div class="element">
    <div class="content-box" if="first-box">
      <h2>Persoonlijke Service</h2>
      <p>Ut sagittis sed arcu eget tempus.
        Nulla facilisi. Praesent id neque eget mi luctus volutpat a vel felis.
        Nullam euismod at ante a sollicitudin.
        Nullam mattis mauris at erat imperdiet ullamcorper.
        Quisque vulputate tellus id orci ornare iaculis in nec orci.
        Nulla posuere, enim eu aliquam semper, tellus lacus semper felis, sit amet feugiat quam magna ut nulla.
        Suspendisse massa augue, tincidunt nec tortor ut, aliquam pellentesque tellus.
        Suspendisse dapibus neque at nisl gravida rutrum.</p>
    </div>
    <img src="../../assets/images/Team.jpg" alt="Ons team">
  </div>
  <div class="element" id="second-box">
    <div class="content-box">
      <h2>Bij ons in Gouda, of op afstand</h2>
      <p>Ut sagittis sed arcu eget tempus.
        Nulla facilisi. Praesent id neque eget mi luctus volutpat a vel felis.
        Nullam euismod at ante a sollicitudin.
        Nullam mattis mauris at erat imperdiet ullamcorper.
        Quisque vulputate tellus id orci ornare iaculis in nec orci.
        Nulla posuere, enim eu aliquam semper, tellus lacus semper felis, sit amet feugiat quam magna ut nulla.
        Suspendisse massa augue, tincidunt nec tortor ut, aliquam pellentesque tellus.
        Suspendisse dapibus neque at nisl gravida rutrum.</p>
    </div>
    <img src="../../assets/images/Service.jpg" alt="Onze buitendienst collega">
  </div>
  <div class="element" id="third-box">
    <div class="content-box">
      <h2>Kwaliteit Hardware</h2>
      <p>Ut sagittis sed arcu eget tempus.
        Nulla facilisi. Praesent id neque eget mi luctus volutpat a vel felis.
        Nullam euismod at ante a sollicitudin.
        Nullam mattis mauris at erat imperdiet ullamcorper.
        Quisque vulputate tellus id orci ornare iaculis in nec orci.
        Nulla posuere, enim eu aliquam semper, tellus lacus semper felis, sit amet feugiat quam magna ut nulla.
        Suspendisse massa augue, tincidunt nec tortor ut, aliquam pellentesque tellus.
        Suspendisse dapibus neque at nisl gravida rutrum.</p>
    </div>
    <img src="../../assets/images/Hardware.jpg" alt="Een verzameling van onze tweede hands producten">
  </div>
</div>
