<div class="home-page">
  <div id="persoonlijke-service" class="container">
    <h2>Persoonlijke Service</h2>
    <div class="content">
      <p>
        Samen met ons team zoeken wij voor u altijd naar de oplossing, die het beste bij uw probleem past. Bij ons is
        en eerlijk advies de norm! Zo zullen wij u tijdig informeren als kosten bij een reparatie te hoog worden, of als
        er een goedkopere oplossing mogelijk is!
      </p>
      <div class="image-container">
        <img src="../../assets/images/Team.jpg" alt="Het team van de Groene Computershop">
      </div>
    </div>
  </div>
  <div id="service-onderhoud" class="container">
    <h2>Bij ons in Gouda, of op afstand</h2>
    <div class="content">
      <p>
        Soms is het nodig dat de reparatie, service of onderhoud op locatie gebeurt. Bijvoorbeeld voor bedrijven, het
        werken met gevoelige informatie of netwerkapparatuur. Ook dit kunnen wij voor u verzorgen. Wij streven ernaar om
        altijd dezelfde medewerker te sturen om een persoonlijke service te waarborgen. Uiteraard kunt u uw defecte
        apparaat ook gerust naar ons toe brengen in Gouda!
      </p>
      <div class="image-container">
        <img src="../../assets/images/Service.jpg" alt="De bestelbus van de Groene Computershop">
      </div>
    </div>
  </div>
  <div id="kwaliteit-hardware" class="container">
    <h2>Kwaliteit Hardware</h2>
    <div class="content">
      <p>
        Wij hebben ook een breed assortiment aan allerlei computer gerelateerde producten. Naast de vele accessories
        verkopen we ook veel tweede hands producten! Zo proberen wij nog prima functionerende laptops en desktops een
        tweede kans te geven. Via onze refurbishment kunnen deze laptops vaak nog een goed aantal jaren mee!
      </p>
      <div class="image-container">
        <img src="../../assets/images/Hardware.jpg" alt="De voorraad aan tweede hands laptops">
      </div>
    </div>
  </div>
</div>
